html, body {
  margin: 0;
  height: 100%;
  background-image: url("greybackground2.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Philosopher";
}

header {  
height: 30vw;
background-image: url("GZE_Logo1.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}  

.textbox {
  text-align: left;
  padding: 5vw;
  font-size: 2vw;
  color: black;
}

a {
color: grey;
}

.slideshow-header {
font-size: 1.2vw;
text-align: center;
color: black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 65vw;
max-height: 50vw;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 1.2vw;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}


/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: grey;
}

/* Caption text */
.text1 {
color: #f2f2f2;
font-size: 2vw;
padding: 1vw 12vw;
position: absolute;
bottom: 10vw;
width: 60%;
text-align: left;
}
.text2 {
color: white;
font-size: 2vw;
padding: 1vw 10vw;
position: absolute;
bottom: 15vw;
width: 100%;
text-align: center;
}

.text3 {
color: white;
font-size: 2vw;
padding: 1vw 10vw;
position: absolute;
bottom: 15vw;
width: 100%;
text-align: center;
background: rgba(0,0,0,0.6);

}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 1.2vw;
width: 1.2vw;
margin: 0 2px;
background-color: rgb(255, 255, 255);
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #373737;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.contact-info {
color: black;
text-align: center;
font-size: 1.5vw;
}

.legal-stuff {
color:black;
margin: 20px;
text-align: center;
font-size: 2vw;
margin-bottom: 2vw;
}

/*contact page styles */
.contact {
  width: 80vw;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 6vw;
  margin-bottom: 6vw;
  height: 50rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  padding-bottom: 2.5rem;
  background-color: white;
}

.contact h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 2rem;
}
 
form {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-bottom: 3rem;
}
 
.input__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
 
.input__container label { font-size: 1.6rem; }
 
.input__container input, textarea {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #555;
  resize: none;
}

textarea {
  height: 10rem;
}

.submitbutton {
  align-self: flex-start;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.home_contact {
  background-color: grey;
}

